#btn{
    text-decoration: none;
    background-color: rgb(78, 78, 234);
    display: inline-block;
    color: white;
    height: 20px;
    width: 100px;
    padding: 3px 10px;
    border-radius: 3px;
}

.test{
    width: 300px;
    height: 20px;
    background-color: blueviolet;
    transition: height 2s;
}
